# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Quarto files
.quarto/
_book/
_site/
_cache/
_output/
.Rmd.cache/
.Rmd.knit.md
.Rmd.knit.md.bak

/.quarto/
